#inputMusicNav {
    background-color: #95afc0;
    padding: 2%;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.2);}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
      z-index: 500;

}

.result-container {
  padding-top: 13%;
}

#navbar5 {
    justify-content: center;
}

.form-inline {
    width: 100%;
    display: flex;
    justify-content: center;
}

#box {
    padding-top:2%;
}


.list-group #test {
    width: 30%;
    background-color: #95afc0;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.2);

}

#box :hover {
    background-color: #535c68;
}

#data {
    top:0;
    bottom:0;
    justify-content: center;
    float: right;
    width:50%;
}

.list-group img {
    width: 40%;
    float: left;
}

#img {
    border-radius: 5px;
}

#pills-tab {
    padding-top:2%;
}

.nav-item {
    padding-top: 3%;
    padding-left:8%;
    padding-right: 8%;
    color:white;
}

.form-check-label {
    padding: 2%;
}

.result-container {
    padding-bottom: 5%;
}