body {
}

.form-group {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;

}

#inputMusic {
    width: 30%;
    display: inline-block;
}

#inputMusicNav {
    background-color: #95afc0;
}

