{% extends "layout.html" %}
{% block content %}


<nav class="navbar navbar-fixed-top navbar-light" id="inputMusicNav">

    <form action="{{ url_for('homepage') }}" method="post" class="form-inline" id="searchform">
        <div id="searchbar">
            <input class="form-control mr-sm-2 search-input" type="search" placeholder="enter a song, album, or artist" name="name" id="search">
        </div>
        <div id="musicType">
            <ul class="nav nav-pills">
                <li class="active">
                    <a data-toggle="tab" href="#" id="menu_text">Active</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#" id="menu_text2">Link</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#" id="menu_text3">Link</a>
                </li>

            </ul>

        </div>

    </form>
</nav>
<div class="result-container">

    <div class="list-group">
        {% for result in data %}
            <form class="form-inline" id="box">
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary" id="test">
                    <img src="{{ result.img }}" id="img">
                    <p id="name">{{ result.name }}</p>
                    <br>
                    <p id="artist">{{ result.artist }}</p>
                </a>
            </form>
        {% endfor %}
    </div>
</div>


{% endblock %}