{% extends "layout.html" %}
{% block content %}


<!--
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="{{ url_for('homepage') }}" method="post">
                <div class="input-group">
                    <input type="text" name="name" id="search" value="test" placeholder="enter a song, album, or artist" class="form-control">
                </div>
            </form>
        </div>
    </div>
</div>-->

<nav class="navbar navbar-expand-md navbar-light bg-faded" id="inputMusicNav">
    <div class="navbar-collapse collapse" id="navbar5">
        <form class="mx-2 my-auto d-inline w-50" action="{{ url_for('homepage') }}" method="post">
            <div class="input-group">
                <input type="text" name="name" class="form-control border border-right-0" placeholder="enter a song, album, or artist">
                <span class="input-group-append">
                <button class="btn btn-outline-secondary border border-left-0" style="background-color: white" type="button">
                    <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
    </div>
</nav>



<div class="result-container">

    <div class="list-group">
        {% for result in data %}
            <form class="form-inline" id="box">
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary" id="test">
                    <img src="{{ result.img }}" id="img">
                    <p id="name">{{ result.name }}</p>
                    <br>
                    <p id="artist">{{ result.artist }}</p>
                </a>
            </form>
        {% endfor %}
    </div>
</div>


{% endblock %}