{% extends "musiclayout.html" %}
{% block title %}
<title>{{ info['name'] }} - {{ info['artist'] }}</title>
{% endblock%}

{% block content %}

<div class="container" id="musiccard">
    <img src="{{ info['img'] }}">
    <h4>{{ info['name'] }}</h4>
    <p>{{ info['artist'] }}</p>
    <table>
        <tr>
            <td align="center">
                <a href="g-u-s.herokuapp.com/s/{{ url }}">copy link</a>
            </td>
            <td align="center">
                <a href="g-u-s.herokuapp.com/s/{{ url }}">copy link</a>
            </td>
            <td align="center">
                <a href="g-u-s.herokuapp.com/s/{{ url }}">copy link</a>
            </td>
        </tr>
    </table>
</div>


<div id="shareable">
    <table>
        <tr>
            <td>
                <a href="{{ info['spotify'] }}" target="_blank">spotify</a>
            </td>
            <td>
                <a href="{{ info['lastfm']}}" target="_blank">last.fm</a>
            </td>
            <td>
                <a href="{{ info['deezer']}}" target="_blank">deezer</a>
            </td>
            <td>
                <a href="{{ info['tidal']}}" target="_blank">tidal</a>
            </td>
            <td>
                <a href="{{ info['play']}}" target="_blank">google play</a>
            </td>
        </tr>
    </table>
</div>


{% endblock %}
