<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>GUS</title>
</head>
<body>

    <nav class="navbar navbar-fixed-top navbar-light" id="inputMusicNav">
        <form class="form-inline" id="searchbar">
            <input class="form-control mr-sm-2 search-input" type="search" placeholder="enter a song, album, or artist" name="search" id="search">
        </form>
    </nav>

    {% block content %}{% endblock %}

    <div class="result-container">

        <div class="list-group">

            <form class="form-inline">
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary" id="test">
                <p>song name</p>
                <br>
                <p>artist</p>
            </a>
            </form>
            <form class="form-inline">
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary" id="test">
                <p>song name</p>
                <br>
                <p>artist</p>
            </a>
            </form>
        </div>
    </div>

</body>
</html>